@font-face {
    font-family: "Lato-Black";
    src: url(./assets/font/Font-Lato/Lato-Black_2.ttf);
}
@font-face {
    font-family: "Lato-Bold";
    src: url(./assets/font/Font-Lato/Lato-Bold_2.ttf);
}
@font-face {
    font-family: "Lato";
    src: url(./assets/font/Font-Lato/Lato-Medium_0.ttf);
}
body {
    font-family: "Lato";
}
