.wrap {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .wrapLogin {
        max-width: 1200px;
        margin: 0 auto;
    }
    .wrapFormLogin {
        min-height: 500px;
        padding: 30px;
        margin: 20px;
        background-color: white;
        border-radius: 10px;
    }
    .btnLogin {
        width: 100%;
    }
    .imgShipper {
        img {
            width: 100%;
        }
    }
}
.googleBtn {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.icon {
    font-size: 24px;
    margin-right: 15px;
}
